/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

/* Byline */
.byline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 500px;
    padding: 1em;
    margin: 1em auto;
    -webkit-box-shadow: 0 2px 3px 0 #262626;
    box-shadow: 0 2px 3px 0 #262626;
}

.byline__figure {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    margin: auto 0;
}

.byline__figure > img {
    height: 100px;
    margin: 0 1em;
}

.byline__figure > figcaption {
    font-style: italic;
    text-align: center;
}

.byline__content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 1em;
}
