/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul,
.rm-navbar-max {
  display: none;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16px;
  background-color: #dae3e7;
}
body {
  max-width: 1150px;
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
}
a {
  color: #34439f;
  text-decoration: none;
}
a:hover {
  color: #d71a60;
}
h1 {
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
  font-size: 1.8em;
  margin-top: 0;
}
/* Figures */
.figure {
  margin: 0;
}
.figure img {
  max-width: 100%;
  display: block;
}
@media screen and (min-width: 881px) {
  .figure.right {
    float: right;
  }
  .figure.left {
    float: left;
  }
}
/* Disable large site logo for now */
.site-logo {
  display: none;
}
.site-logo-text {
  font-size: 2em;
  font-weight: bold;
}
.site-logo-text a {
  color: white;
  text-decoration: none;
}
/* Navbar */
.rm-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.rm-navbar a:not(.rm-submenu-button) {
  display: block;
  color: #fff;
  font-size: 1.2em;
  padding: 0.3em 1.5em 0.2em;
  text-decoration: none;
  -webkit-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}
.rm-navbar li {
  display: inline-block;
  margin: 0.2em 0;
  background-color: #3f51b5;
  border-radius: 0.2em;
  border-bottom: 4px solid #3f51b5;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
}
.rm-navbar li:hover {
  border-bottom-color: #d71a60;
}
.rm-navbar li:hover > a {
  color: #ebebeb;
}
.rm-navbar li:hover > ul {
  position: absolute;
  display: block;
}
.rm-navbar li > ul {
  padding-top: 0.6em;
}
.rm-navbar li > ul > li {
  display: block;
  margin: 0.2em 0;
  font-size: 1em;
}
.region {
  /* Header styles */
  /* Main content styles */
  /* Footer styles */
  /* Sidebar styles */
}
.region-flash {
  height: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
.region-flash img {
  display: block;
  max-width: 100%;
  min-width: 650px;
  max-height: 200px;
  min-height: 150px;
}
.region-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #3948aa;
}
@media (max-width: 880px) {
  .region-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.region-header-col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  padding: 0 2em 1em 0.5em;
}
.region-header-col-2 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0.5em 0;
}
.region-main {
  padding: 2em;
  min-height: 30em;
}
.region-main.has-sidebar {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.region-footer {
  background: #3948aa;
  color: #fff;
  padding: 1em 2em;
}
.region-footer a {
  color: white;
  text-decoration: underline;
}
.region-footer a:hover {
  color: #d71a60;
  text-decoration: underline;
}
.region-sidebar-left {
  padding-left: 2em;
}
.region-sidebar-right {
  padding-right: 2em;
}
/* Footer */
.footer-column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-column {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1em 2em;
  border-right: 1px solid #fff;
}
.footer-column h4 {
  margin-top: 0;
  font-size: 1.2em;
}
.footer-column:last-of-type {
  border-right: none;
}
.footer-column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* Inner content */
.inner-wrap-main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* Sidebar */
.wrap-sidebar {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 300px;
  margin-top: 2em;
}
.wrap-sidebar .block {
  margin-bottom: 2em;
}
.wrap-sidebar h4 {
  padding: 0.1em 1em;
  margin: 0 0 1em;
  font-size: 1.2em;
  background: #3948aa;
  color: white;
  border: 1px solid #3948aa;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
/* Byline */
.byline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 500px;
  padding: 1em;
  margin-top: 8em;
  margin: 1em auto;
  -webkit-box-shadow: 0 2px 3px 0 #262626;
  box-shadow: 0 2px 3px 0 #262626;
}
.byline__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 1em;
}
.byline__figure {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  margin: auto 0;
}
.byline__figure img {
  height: 100px;
  margin: 0 1em;
}
.byline__figure figcaption {
  font-style: italic;
  text-align: center;
}
/* Component styles */
.breadcrumb-list ul {
  list-style: none;
}
.breadcrumb-list li {
  display: inline-block;
}
.breadcrumb-list li:not(:last-of-type)::after {
  content: "»";
  margin-left: 0.2em;
}
/* Next-previous */
.next-previous {
  height: 1em;
  margin-bottom: 1em;
}
.next-previous .prev {
  float: left;
}
.next-previous .next {
  float: right;
}
/* Table of Contents */
ul.toc {
  list-style: none;
  padding: 0 1em;
}
ul.toc li {
  font-size: 1.1em;
  margin-top: 0;
}
ul.toc li.section-header {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid black;
}
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #424242;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font: 100.01%/1 serif;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * My own settings, not currently in their own module.
 */
